/*.content {*/
/*    grid-area: content;*/
/*    background-color: lemonchiffon;*/
/*}*/

/*.dialogs {*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 10fr;*/
/*}*/

/*.dialogsItems {*/
/*    padding: 10px;*/
/*    color: white;*/
/*}*/

/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/

/*.messages {*/
/*    padding: 10px;*/
/*}*/

/*.messages .message {*/
/*    color: white;*/
/*}*/

.dialogs {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    /*height: 100%;*/
    /*background-color: #f5f5f5;*/
}
.dialogs a {
    color: #13157a;
    text-decoration: none;
}
.dialogsItems {
    width: 180px;
    /*box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);*/
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
.dialogsItems .active {
    color: rgb(255, 255, 0);
}
.dialog {
    padding: 2px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
    /*border: 1px solid rgb(193, 233, 245);*/
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.dialog img {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    padding-right: 10px;
}
.messages {
    overflow: auto;
    height: 400px;
}
.messages .message {
    background-color: rgb(234, 245, 250);
}
