.display {
    border-color: darkblue;
    border-width: 1px;
}
.message {
    display: flex;
    align-items: flex-end;
    color: aliceblue;
    margin: 10px;
}
.message img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.description {
    padding: 10px;
    border-radius: 26px 26px 26px 0;
    /*background-image: linear-gradient(45deg, #fff 0%, #f5f4f4 50%, #eeeded 100%);*/
    background-position: 100% 0;
    background-color:  #fff;
    font-family: 'Montserrat', sans-serif;
}
.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(30, 42, 39, 0) 15px, #fff 0);
}
.angleSent {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 100% 0, rgba(30, 42, 39, 0) 15px, #fff   0);
}
.name {
    font-size: 12px;
    font-weight: bold;
    color: rgba(18, 58, 58, 0.685);
}
.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: rgba(27, 27, 28, 0.82);
}
.time {
    display: flex;
    justify-content: flex-end;
    color: rgba(44, 44, 45, 0.82);
    font-size: 11px;
}
.nameSent {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: bold;
    color: rgba(18, 58, 58, 0.685);
}
.textSent {
    display: flex;
    justify-content: flex-end;
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}
.timeSent {
    display: flex;
    justify-content: flex-end;
    color: rgba(38, 35, 216, 0.822);
    font-size: 11px;
}